.sp-thongbao {
    color: red;
    margin-left: 2px; 
    display: none;
  
  }

   #loading{
    width: 100%;
    height: 100%;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    display: none; 
    justify-content: center ;
    align-items: center; 
} 